@model BlogApp.Models.Post

@{
    ViewData["Title"] = "Delete";
}
  <!-- Page Header-->
<header class="masthead" style="background-image: url(/assets/img/post-bg.jpg)">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>@Model.Title</h1>
                    <h2 class="subheading">@Model.SubTitle</h2>
                    <span class="meta">
                        Posted by
                        <a class="text-danger" asp-controller="home" asp-action="profile" asp-route-uId="@Model.Author.Id">@Model.Author.FirstName @Model.Author.LastName</a>
                        on @Model.PostedDate
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Delete</h1>
            <h3>Are you sure you want to delete this?</h3>
    
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <div class="form-group mb-3 mt-3">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Back</a>
                </div>
            </form>

        </div>
    </div>
</div>
