@using Microsoft.AspNetCore.Identity
@model BlogApp.Models.Post
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
}
<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>@Model.Title</h1>
                    <h2 class="subheading">@Model.SubTitle</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">@Model.Author.Email</a>
                        on @Model.PostedDate
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                    @Html.DisplayFor(model => model.Description)
            </div>
        </div>
    </div>
</article>
<div class="text-center mb-4">
    @if (SignInManager.IsSignedIn(User) && UserManager.GetUserId(User) == Model.AuthorId)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> 
    }
    <a asp-action="Index">Back</a>
</div>
